# Python cache
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/

# Environment files
*.env
.env.*

# SQLite database files (if you use any locally)
*.sqlite3
instance/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Python bytecode
*.pyc

# IDE / Editor folders
.idea/
.vscode/
