<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>

</head>

<body>
    <h1>Login Screen</h1>
    <div class="section_username">
        <label for="username">Username:</label>
        <input type="text" id="username" placeholder="Username">
    </div>
    <br>
    <div class="section_password">
        <label for="password">Password:</label>
        <input type="text" id="password" placeholder="Enter password">
    </div>
    <br>
    <div class="section_buttons">
        <button id="btn_login">Login</button>
        <button id="btn_signup">Signup</button>
    </div>
    <script src="{{ url_for('static', filename='scripts/authorization.js') }}"></script>
</body>

</html>